<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <logger name="com.xinyi" level="TRACE" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="p6spy" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
        <!--<appender-ref ref="CONSOLE"/>-->
    </logger>
    <logger name="com.fasterxml" level="OFF" additivity="false">
        <appender-ref ref="FILE"/>
        <!--<appender-ref ref="CONSOLE"/>-->
    </logger>
    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>